.multi-form-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(63, 12, 131);
    color: black;
}
.multi-parent-flex{
    width: 500px;
    height: 500px;
    background-color: azure;
    border-radius: 15px;
    border: none;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 5%;
}
.multi-one{
  width: 400px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.multi-two{
  display: flex;
  justify-content: space-between;
}