.multi-form-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(63, 12, 131);
    color: black;
}
.multi-parent-flex{
    width: 500px;
    height: 550px;
    background-color: azure;
    border-radius: 15px;
    border: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}